<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta content="True" name="HandheldFriendly">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:image" content="https://johnimperio.com/prototype/tasks-app/assets/og-image.png"/>
	<meta property="og:title" content="Tasks App made with Vue"/>
	<meta property="og:description" content="by johnimperio"/>
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="627"/>

	<script>
		if (screen.width > 480) {
 			document.getElementById("viewport").setAttribute("content", "width=device-width");
		}
	</script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script type="text/javascript" src="js/main.js" async></script>

	<title>Your Tasks</title>

	<link rel="stylesheet" href="css/style.css">

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KZF74VL');</script>
	<!-- End Google Tag Manager -->

</head>
<body>

	<div id="my-github">
		<a href="https://johnimperio.com" target="_blank">johnimperio.com</a>
		<a href="https://github.com/johnimperio/tasks-app" target="_blank"><img src="images/GitHub-Mark-32px.png" /> See this on Github</a>
	</div>

  <div class="page-container">

    <div id="root">
		  <h1>Your Tasks</h1>
      <ul>
        <li class="item" v-for="(task, index) in tasks">
          <input type="checkbox" @click="markStatus(index)" :checked="task.statusCompleted" />
					<input type="text" class="item-label" v-model="task.description" :class="taskStatus(index)" v-on:keyup.enter="renameTask(index)" />
					<div class="item-controls">
						<span class="delete" @click="deleteTask(index)">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</span>
					</div>
        </li>
      </ul>
      <label>
        <input ref="task" type="text" placeholder="Add something to do.." v-on:keyup.enter="addTask" v-model="newTask" />
      </label>
			<div id="results" v-if="showTotals">
				<h4>Total <span class="pill blue">{{ taskCount }}</span></h4>
				<h4>Incomplete <span class="pill red">{{ incompleteTasks }}</span></h4>
				<h4>Completed <span class="pill green">{{ completedTasks }}</span></h4>
			</div>
    </div>
  </div>

</body>
</html>
